<!-- Sidebar -->
    <div id="sidebar" class="p-0 m-0">
      <div class="d-flex align-items-center p-3 m-0">
        <span class="logo-text fw-bold fs-4">Lanka Ex Paper</span>
      </div>

      <div class="close-btn" onclick="closeSidebar()" aria-label="Close Sidebar">
        <i class="bi bi-x-lg"></i>
      </div>

      <a class="nav-link active" href="/dashboard"><i class="bi bi-grid-fill me-2"></i>Dashboard</a>
      <a class="nav-link" href="viewPastpaper"><i class="bi bi-file-pdf me-2"></i>Pastpapers</a>
      <a class="nav-link" href="/academic"><i class="bi bi-bank me-2"></i>Academics</a>
      <a class="nav-link" href="/course"><i class="bi bi-list-task me-2"></i>Course</a>
      <a class="nav-link" href="/year"><i class="bi bi-calendar me-2"></i>Year</a>
      <a class="nav-link" href="/subject"><i class="bi bi-book me-2"></i>Subjects</a>
      <a class="nav-link" href="/userUpload"><i class="bi bi-upload me-2"></i>User Upload</a>
      <a class="nav-link" href="/admins"><i class="bi bi-people me-2"></i>Admins</a>
      <a href="/logout"><i class="bi bi-box-arrow-right"></i> <span>Logout</span></a>
    </div>

